<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Добро пожаловать в LoveStory</title>
</head>
<body>
    <h1>Добро пожаловать в LoveStory</h1>
    <div style="margin-right: 45px;">
        <a href="{{ url_for('rgz.register') }}">Регистрация</a> | 
        <a href="{{ url_for('rgz.login') }}">Вход</a> 
    </div>
    <div style="font-size: 18px;">
        <h2>Добро пожаловать в LoveStory – место, где начинается ваша история любви!</h2>
        Ищете свою вторую половинку? Хотите познакомиться с интересными людьми, которые разделяют ваши увлечения и ценности?<br>
        <b>LoveStory</b> — это онлайн-платформа, созданная для тех, кто ищет искренние и долгосрочные отношения.<br>
        Здесь вы найдете:<br>
        <b>Индивидуальный подход:</b> Мы заботимся о каждом пользователе. 
        Заполните свой профиль, расскажите о себе и своих предпочтениях, чтобы найти именно того человека, с которым будет приятно проводить время.<br>
        <b>Безопасность и конфиденциальность:</b> В LoveStory ваше личное пространство и данные защищены. Мы гарантируем конфиденциальность и безопасность на всех этапах общения.<br>
        <B>Серьезные отношения:</B> Наши пользователи стремятся к настоящим отношениям, основанным на доверии и взаимопонимании. 
        Если вы хотите найти человека для совместного будущего, вы на правильном пути.<br>
        <b>Присоединяйтесь к LoveStory и начните свою уникальную историю любви уже сегодня!</b>
    </div>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/love_story.jpg') }}" alt="LoveStory" width="800">
    </div>
    <div>
        <a href="{{ url_for('rgz.search') }}">перейти на страницу поиска</a>
    </div>
    <footer>
        &copy; Захаров Илья
    </footer>
</body>
</html>
