<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Поиск</title>
</head>
<body>
     <header>
        LoveStory
    </header>
    <h1 style="margin-right: 100px;">Поиск профилей</h1>
    <form action="/rgz/search" method="get">
        <label>Пол:
            <select name="looking_for">
                <option value="Мужчина" {% if looking_for == "Мужчина" %}selected{% endif %}>Мужчина</option>
                <option value="Женщина" {% if looking_for == "Женщина" %}selected{% endif %}>Женщина</option>
            </select>
        </label><br>
        <label>Возраст от: <input type="number" name="min_age" value="{{ min_age }}" min="18"></label><br>
        <label>Возраст до: <input type="number" name="max_age" value="{{ max_age }}" max="100"></label><br>
        <button type="submit">Найти</button>
    </form>

    <h2 style="margin-left: 600px;">Результаты поиска:</h2>
    <ul style="margin-top: 50px; margin-left: 50px">
        {% for user in users %}
        <li>
            <h3>{{ user.name }} ({{ user.age }})</h3>
            <p>{{ user.about }}</p>
        </li>
        {% endfor %}
    </ul>

    <a href="/rgz/profile">Назад в профиль</a>
    <footer>
        &copy; Захаров Илья ФБИ-24
    </footer>
</body>
</html>
